*{
    margin: 0;
}
.featues_section{
    height: 85vh;
    width: 100%vh;
    background-color: rgb(15, 18, 20);
    border-radius: 1rem;
    
}
.features_title{
    height: 200px;
    width: 95%;
    padding: 10px;
    /* background-color: rgba(165, 42, 42, 0.658); */
    margin: 0 1rem 0 1rem ;
}
.featurs_main_title{
    height: 50%;
    width: 90%;
    /* background-color: rgba(128, 255, 0, 0.627); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.featurs_main_title p{
    font-size: 3rem;
    color: white;
    font-weight: 500;
    opacity: 0.85;
}
.featurs_main_title p:hover{
    opacity:1;

}
.featurs_sub_title{
    height: 40%;
    width: 60%;
    /* background-color: rgba(255, 208, 0, 0.627); */
    margin-left: 2rem;
    padding: 0 1rem 0 1rem;
    text-align: center;
    
}
.featurs_sub_title p{
    font-size: 1.6rem;
    color:rgb(156, 163, 145);
}
.featues_sub_section{
    height: 400px;
    width: 95%;
    /* background-color: rgba(137, 43, 226, 0.524); */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Features_list{
    height: 100%;
    width: 40%;
    /* background-color: chocolate; */
}
.Sub_featues{
    height: 30%;
    width: 100%;
    /* background-color: aquamarine; */
}
.Sub_featue_title{
    height: 35%;
    width: 95%;
    /* background-color: darkblue; */
    padding: 10px;
    display: flex;
    justify-content:start;
    align-items: center;
}
.Sub_featue_title p{
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
}
.Sub_featue_description{
    height: 50%;
    width: 95%;
    /* background-color: rgb(0, 139, 25); */
    padding:0 10px 0 10px;
    display: flex;
    justify-content:start;
    align-items: center;
}
.Sub_featue_description{
    font-size: 1.2rem;
    color: rgb(156, 163, 145);
    
}
.Features_image{
    height: 100%;
    width: 40%;
    /* background-color: rgb(30, 165, 210); */
    margin-left: 2rem;
}
.Features_image img{
    height: 100%;
    width: 100%;
}

.Footer_section{
    height: 150px;
    width: 100%vh;
    background-color: rgb(15, 18, 20);
}
.footer_warning{
    height: 50%;
    width: 90%;
    /* background-color: rgba(210, 105, 30, 0.628); */
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
.warning_icon{
    height: 100%;
    width: 100px;
    /* background-color: cyan; */
    display: flex;
    justify-content:center;
    align-items: center;
}
.warning_icon i{
    font-size: 2.5rem;
    color: red;
    opacity: 0.8;
}
.warning_icon i:hover{
    opacity: 1;
}
.warning_title{
    height: 100%;
    width: auto;
    /* background-color: cornsilk; */
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 10px;
}
.warning_title p{
    font-size:1.2rem;
    color: rgb(0, 128, 255);
}
.main_footer{
    height: 50%;
    width: 95%;
    /* background-color: rgba(30, 210, 45, 0.628); */
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.writes{
    height: 100%;
    width: 500px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.privacy{
    height: 100%;
    width: 500px;
    /* background-color: blue; */
    display: flex;
    justify-content:center;
    align-items: center;

}
.privacy span{
    margin-left: 1rem;
}
@media (max-width: 768px) {
    .features_title{
        padding: 0 10px 0 10px;
        margin: 0;
    }
    .featurs_main_title p{
        font-size: 1.6rem;
    }
    .featurs_sub_title{
        width: 90%;
        margin: 0;
    }
    .featurs_sub_title p{
        font-size: 1.2rem;
    }
    .featues_section{
        height: auto;
    }
    .featues_sub_section{
        display: table;
        padding: 0 10px 0 10px;
        /* background-color: aquamarine; */
        
    }
    .Features_list{

        width: 90%;
    }
    
    .Features_image{
        height: 100%;
    width: 80%;

    }
    .main_footer{
        padding: 0 1rem 0 0;
    }
    .warning_title p{
        font-size: 0.8rem;
    }
    .main_footer a{
        font-size: 0.8rem;
    }
    .privacy{
        display: none;
    }
    
}